.help-wrap {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
}
.help-wrap i{
  display: inline-block;
  width: 100%;
  min-height: 300px;
  text-align: left;
  color: #2c3e50;
  background-image: url('../../img/pages/help-banner.png');
  background-size: cover;
}
.detail {
  list-style-type: none;
  padding: 5% 0 0 20%;
}
li {
  margin-bottom: 3%;
  font-size: 14px;
}
p:first-child {
  font-weight: bold;
  margin-bottom: 1%;
}
.phone {
  margin-left: 20%;
  font-size: 14px;
  margin-bottom: 5%;
}
span {
  color: #f00;
}
