.space-header{
  position: relative;
  width: 100%;
  min-height: 300px;
  font-weight: 300;
  color: #fff;
  background-image: url('../../img/pages/owner-banner.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
