.el-dialog{
  width:425px;
}
.download-title{
  font-size: 14px;
}
.download-title span{
  font-size: 20px;
}
.download-tips{
  margin: 20px 0;
}
.download-icon{
  display: inline-block;
  width: 185px;
  text-align: center;
}
.el-dialog__body i{
  display: inline-block;
  width: 175px;
  height: 176px;
}
.download-app{
  background: url("../../img/pages/download-app.png");
}
.download-program{
  background: url("../../img/pages/download-program.png");
}

