*{
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}
html,body{
  background: #fff;
  font-size: 12px;
  font-weight: 400;
  color: #666;
  width: 100%;
  overflow: auto;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,
fieldset,input,textarea,p,blockquote,th,td {
  margin:0;
  padding:0;
}
a{
  text-decoration: none;
}
p{
  line-height: 2;
  font-size: 14px;
}
fieldset,img {
  border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
  font-style:normal;
  font-weight:normal;
}
ul,li,dl,dd,dt {
  list-style:none;
}
h1,h2,h3,h4,h5,h6 {
  font-weight:normal;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.cf{
  clear: both;
  content: "";
  display: table;
  zoom: 1
}
.banner{
  position: relative;
  display: inline-block;
  width: 100%;
  min-height: 300px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
